.input_container {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 0;
  /* padding: 10px; */
  color: rgb(0, 0, 0);
}

.input_label {
  font-weight: 800;
  display: flex;
  flex-direction: column;
}
.input_container input {
  width: 450px;
  height: 48px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  margin-top: 10px;
  padding-left: 13px;
  border: 0.5px solid rgba(99, 99, 99, 0.9);
}

.input_content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.input_container input:focus {
  border-color: #09ff00;
}

.input_radio {
  display: flex;
  flex: 1;
  justify-content: space-around;
  width: 100%;
}
.input_checkbox {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 4%;
  margin-top: 5%;
}

.input_radio:focus {
  background-color: yellow;
}

.input_radio input {
  margin: 10px;
}
