.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
   justify-content: 100%;
   
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(2, 1, 59);
}

.search {
    width: 30%;
    display: flex;
    justify-content: center;
    
}

ul li {
    font-size: 20px;
} 
